{% extends "base.html" %} {% block main%}
<div id="load">
  <span class="loader"></span>
</div>
<main>
  <div id="container-login">
    <div id="title"><i class="material-icons lock">lock</i> Login</div>

    <form>
      <div class="input">
        <div class="input-addon">
          <i class="material-icons">face</i>
        </div>
        <input
          id="username"
          placeholder="Username"
          type="text"
          required
          class="validate"
          autocomplete="off"
        />
      </div>

      <div class="clearfix"></div>

      <div class="input">
        <div class="input-addon">
          <i class="material-icons">vpn_key</i>
        </div>
        <input
          id="password"
          placeholder="Password"
          type="password"
          required
          class="validate"
          autocomplete="off"
        />
      </div>
      <br />
      <input type="submit" value="Log In" />
    </form>

    <div class="forgot-password">
      <a href="#">Forgot your password?</a>
    </div>

    <div class="register">
      Don't have an account yet?
      <a href="signup"><button id="register-link">Register here</button></a>
    </div>
  </div>
</main>
{% endblock %}
